.last_div {
  background: linear-gradient(238.72deg, #ebff00 0%, #8f00ff 100%),
    linear-gradient(64.82deg, #ad00ff 0%, #ff0000 100%),
    linear-gradient(65.03deg, #00ffff 0%, #ff0000 99.79%),
    radial-gradient(67.08% 100% at 50% 100%, #ff00c7 0%, #50005e 100%),
    radial-gradient(100% 140% at 100% 0%, #5ed500 0%, #2200aa 100%);
  background-blend-mode: color-dodge, difference, lighten, color-dodge, normal;
}

.head_div {
  background: linear-gradient(180deg, #ffb7b7 0%, #727272 100%),
    radial-gradient(60.91% 100% at 50% 0%, #ffd1d1 0%, #260000 100%),
    linear-gradient(127.43deg, #00ffff 0%, #ffffff 100%),
    radial-gradient(100.22% 100% at 70.57% 0%, #ff0000 0%, #00ffe0 100%),
    linear-gradient(64.82deg, #dbff00 0%, #3300ff 100%);
  background-blend-mode: screen, overlay, color-burn, color-dodge, normal;
}
